<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        ">

	
	<context:component-scan base-package="com.jc" />

	<bean id="dataSourceConfiguration" class="com.jc.database.config.DataSourceConfiguration">
		<property name="url" value="jdbc:mysql://192.168.31.149:3306/mydatabase?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull"/>
		<property name="username" value="jevoncode"/>
		<property name="password" value="jevoncode"/>
		<property name="driver" value="com.mysql.jdbc.Driver"/>
	</bean>
	<bean id="freeMarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
		<property name="templateLoaderPath" value="classpath:templates" />
	</bean>
	 
</beans>
